@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');


:root {
    --cor1: #2A1F2D;
    --cor2: #C7B8EA;
    --cor3: #8447FF;
    --cor4: #F1ECCE;
    --cor5: #00272B;

    --fonte-titulo: 'Bebas Neue', sans-serif;
    --fonte-texto: 'Play', sans-serif;
    --fonte-nav: 'Kanit', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-texto);
    background-color: #2A1F2D;
}

header {
    background-color: var(--cor1);
    color: var(--cor4);
    text-align: center;
    height: 10vh;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte-titulo);
}

main {
    background-color: var(--cor4);
    max-width: 1000px;
    margin: auto;
    border-radius: 30px;
}

article {
    background-color: var(--cor4);
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) inset;
}
article h1 {
    background: linear-gradient(90deg, rgba(241,236,206,1) 5%, rgba(42,31,45,0.76234243697479) 50%, rgba(241,236,206,1) 95%);
    font-family: var(--fonte-titulo);
    max-width: 100vw;
    font-weight: bolder;
    font-size: 2.1em;
    text-indent: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
    border-radius: 30px 30px 0px;
}

article h2 {
    font-family: var(--fonte-titulo);
    text-indent: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
    padding-top: 15px;
    padding-bottom: 10px;
}

article p {
    max-width: 100vw;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    font-size: 1.2em;
    line-height: 2em;
    text-indent: 20px;
    font-weight: 500;
}

article div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

footer {
    background-color: var(--cor1);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer img {
    max-width: 40px;
    padding-left: 10px;
}
